<mat-card>
    <form (submit)="onAddGrocery(groceryForm)" #groceryForm="ngForm">
      <mat-form-field>
          <label><b>Grocery Name:</b></label>
        <input
          matInput
          type="text"
          name="name"
          ngModel
          required
          #title="ngModel">
      </mat-form-field>
      <hr>
      <mat-form-field>
          <label><b>Grocery Price:</b></label>
        <textarea
          matInput
          name="price"
          ngModel
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <hr>
      <mat-form-field>
          <label><b>Grocery Category:</b></label>
        <textarea
          matInput
          name="category"
          ngModel
          required
          #content="ngModel"></textarea>
        </mat-form-field> 
        <hr>
        <mat-form-field>
            <label><b>Amount:</b></label>
          <textarea
            matInput
            name="amount"
            ngModel
            required
            #content="ngModel"></textarea>
        </mat-form-field>
        <hr>
  


      <button
      class="saveButton"
        mat-raised-button
        color="accent"
        type="submit">Save</button>
    </form>
  </mat-card>