<h1>Shopping List</h1>



<mat-accordion *ngFor="let grocery of MyGroceries">
<br>
<mat-card>
    <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
    <mat-panel-title>
    <h3>{{ grocery.name }} </h3>
    </mat-panel-title>
    <mat-panel-description>
    <h3>{{ grocery.price }}</h3>
    </mat-panel-description>
    <mat-panel-description>
      <h3>{{ grocery.category }}</h3>
      </mat-panel-description>
    <mat-panel-description>
        <h3>{{ grocery.amount }}</h3>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-action-row>

    <button mat-button class="editButton" [routerLink]="['/edit', grocery._id]" color="primary" >Edit</button>
    
    <button mat-button class="deleteButton" (click)="onDelete(grocery._id)" color="warn" >Delete</button>
    
    </mat-action-row>
    </mat-expansion-panel>
  </mat-card>
    </mat-accordion>