<mat-card>
    <form (submit)="onEditGrocery(groceryForm)" #groceryForm="ngForm">
      <mat-form-field>
          <label><b>Grocery Name:</b></label>
        <input
          matInput
          type="text"
          name="name"
          ngModel={{grocery.name}}
          required
          #title="ngModel">
      </mat-form-field>
      <hr>
      <mat-form-field>
          <label><b>Grocery Price:</b></label>
        <textarea
          matInput
          name="price"
          ngModel={{grocery.price}}
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <hr>
      <mat-form-field>
          <label><b>Grocery Category:</b></label>
        <textarea
          matInput
         rows="4"
          name="category"
          ngModel={{grocery.category}}
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <hr>
      <mat-form-field>
          <label><b>Amount:</b></label>
        <textarea
          matInput
         rows="4"
          name="amount"
          ngModel={{grocery.category}}
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <hr>
      <button
        mat-raised-button
        class="editButton"
        color="accent"
        type="submit">Edit</button>
    </form>
  </mat-card>